/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.bbcode .markItUpButton1 a { background-image: url("../img/markitup/bold.png"); }
.bbcode .markItUpButton2 a { background-image: url("../img/markitup/italic.png"); }
.bbcode .markItUpButton3 a { background-image: url("../img/markitup/underline.png"); }
.bbcode .markItUpButton4 a { background-image: url("../img/markitup/picture.png"); }
.bbcode .markItUpButton5 a { background-image: url("../img/markitup/link.png"); }
.bbcode .markItUpButton6 a { background-image: url("../img/markitup/email.png"); }
.bbcode .markItUpButton7 a { background-image: url("../img/markitup/colors.png"); }

	.bbcode .markItUpButton7 ul {
		width:81px;
		padding:1px; }

	.bbcode .markItUpButton7 li {
		border: 1px solid #FAFAD8;
		width:25px;	height:25px;
		overflow:hidden;
		padding: 0px; margin:0px;
		float:left; }

	.bbcode .markItUpButton7 ul a { width:25px;	height:25px; }
	.bbcode .markItUpButton7 ul a:hover { background-color:none; }
	.bbcode .markItUpButton7 .col1-1 a { background:yellow; }
	.bbcode .markItUpButton7 .col1-2 a { background:orange; }
	.bbcode .markItUpButton7 .col1-3 a { background:red; }
	.bbcode .markItUpButton7 .col2-1 a { background:blue; }
	.bbcode .markItUpButton7 .col2-2 a { background:purple; }
	.bbcode .markItUpButton7 .col2-3 a { background:green; }
	.bbcode .markItUpButton7 .col3-1 a { background:white; }
	.bbcode .markItUpButton7 .col3-2 a { background:gray; }
	.bbcode .markItUpButton7 .col3-3 a { background:black; }

.bbcode .markItUpButton8 a { background-image: url("../img/markitup/fonts.png"); }
.bbcode .markItUpButton9 a { background-image: url("../img/markitup/text_align_left.png"); }

	.bbcode .markItUpButton9 .left a { background-image: url("../img/markitup/text_align_left.png"); }
	.bbcode .markItUpButton9 .center a { background-image: url("../img/markitup/text_align_center.png"); }
	.bbcode .markItUpButton9 .right a { background-image: url("../img/markitup/text_align_center.png"); }
	.bbcode .markItUpButton9 .justify a { background-image: url("../img/markitup/text_align_justify.png"); }

.bbcode .markItUpButton10 a { background-image: url("../img/markitup/list-bullet.png"); }
.bbcode .markItUpButton11 a { background-image: url("../img/markitup/list-item.png"); }
.bbcode .markItUpButton12 a { background-image: url("../img/markitup/quotes.png"); }
.bbcode .markItUpButton13 a { background-image: url("../img/markitup/code.png"); }
.bbcode .clean a { background-image:url(../img/markitup/clean.png); }
.bbcode .preview a { background-image:url(../img/markitup/preview.png); }