/*------------------------------------------------------
	Reset and Normalize
------------------------------------------------------*/

body {
	background: #003d4c;
	color: #777777; 
	font: normal 13px Verdana, Arial, sans-serif; }
	
p { margin: 0 0 15px 0; }
	
a {
	color: #352b39;
	text-decoration: none; }

a:hover { 
	color: #605063; }


/*------------------------------------------------------
	Content
------------------------------------------------------*/
	
.gray { color: #A4A4A4; }
	
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
	
.content { 
	padding: 20px; 
	background: #fff; }

.clear { 
	clear: both; 
	display: block; }

/* Button */

.button {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px;
	color: #f0e7f2;
	text-shadow: 1px 1px 0 #473b49;
	text-transform: uppercase;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #605063), color-stop(0.85, #85688a));
	background-image: -moz-linear-gradient(center bottom, #605063 15%, #85688a 85%);
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;  
	border-radius: 5px; }

	.button:hover { color: #fff; }

/* Pagination */

.pagination { color: #225985; }

	.pagination ul { list-style: none; }

	.pagination li {
		display: inline-block;
		margin-left: 5px; }
	
		.pagination li.current {
			font-weight: bold;
			padding: 3px 6px;
			background: #fff;
			-moz-border-radius: 2px; 
			-webkit-border-radius: 2px;  
			border-radius: 2px; }
	
	.pagination a {
		display: inline-block;
		padding: 4px 6px;
		line-height: 100%;
		outline: none;
		-moz-border-radius: 2px; 
		-webkit-border-radius: 2px;  
		border-radius: 2px; 
		background: #2c5687;
		color: #ebf0f3; }
	
		.pagination a:hover {
			background: #4774a2;
			color: #fff; }
		
	.pagination span { float: right; }

/*------------------------------------------------------
	Table
------------------------------------------------------*/

.table { width: 100%; }

	.table th {
		color: #225985;
		font-weight: bold;
		padding: 5px; }
	
	.table td {
		border: 1px solid #dbe4ef;
		background: #fff;
		padding: 10px; }
	
		.table .altRow td { background: #f4f7fb; }
		.table .headRow td { background: #edf5ff; }

.table .icon {
	text-align: center;
	width: 35px;
	vertical-align: middle; }

.table .stat { 
	text-align: center;
	font-weight: bold;
	width: 10%;
	vertical-align: middle; }

.table .activity { 
	width: 30%;
	vertical-align: middle; }

/*------------------------------------------------------
	Container
------------------------------------------------------*/
	
.container {
	border: 1px solid #316897; 
	overflow: hidden;
	margin: 20px 0;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;  
	border-radius: 5px; }

	.container .toggle {
		float: right;
		display: inline-block;
		width: 15px;
		height: 15px;
		background: #fff;
		text-align: center;
		line-height: 14px;
		font-size: 11px;
		font-weight: bold;
		color: #fff;
		background: rgba(255, 255, 255, .5);
		outline: none;
		margin-top: 1px;
		-moz-border-radius: 2px; 
		-webkit-border-radius: 2px;  
		border-radius: 2px; }
	
	.container .toggle:hover { 
		color: #225985;
		background: rgba(255, 255, 255, .75); }

.containerContent {
	background: #ebf0f3;
	padding: 10px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; }

.containerHeader {
	border: 1px solid #528cbc;
	padding: 5px 10px 6px 10px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #2c5687), color-stop(0.85, #4774a2));
	background-image: -moz-linear-gradient(center bottom, #2c5687 15%, #4774a2 85%); }

	.containerHeader h3 {
		color: #ebf0f3;
		text-transform: uppercase;
		font-weight: bold; }

/*------------------------------------------------------
	Forums
------------------------------------------------------*/
	
.subForums { margin-top: 10px; }

.topics { margin: 10px 0; }

.controls { margin: 20px 0; text-align: right; }
.controls .button { margin-left: 10px; }
	
.title { margin: 20px 0; }
.title h2 { font-size: 24px; color: #85688a; }

.statistics { margin: 20px 0; }