
hr { margin: 1rem 0; border: 0; border-top: 1px solid #e5e5e5; }

.statistics { margin-top: 1.5rem; }

.js-tooltip { cursor: help; }

.col-icon { width: 20px; text-align: center; }
.col-stat { text-align: center; }
.col-activity,
.col-created { text-align: right; }

.forum-title,
.topic-title { font-weight: bold; }

.forum-desc,
.topic-pages { margin-top: 5px; }

.topic-pages { font-size: .8em; }

.login,
.mod-actions { margin-top: 1.5rem; padding: 1rem; background: #f8f8f8; border: 1px solid #e5e5e5; border-radius: .3rem; text-align: center; }
.login .field,
.mod-actions .field { margin-bottom: 0; vertical-align: middle; }
.login form { text-align: center; }

.progress-bar { height: 15px; background: #45c5eb; border-radius: .3rem; }

.icon-external-link { font-size: .8em; }

/*-------------------- Posts --------------------*/

.post-time { text-align: right; }
.post-actions { float: right; }
.post-actions a { margin-left: 5px; }
.post-ratings .rating { background: #fff; border: 1px solid #e5e5e5; padding: 0 5px; border-radius: .3rem; }
.post-buried { padding-top: 1rem; margin-top: 1rem; border-top: 1px solid #e5e5e5; }

.signature { padding-top: 1rem; margin-top: 1rem; border-top: 1px dashed #e5e5e5; max-height: 100px; overflow: hidden; }
.username,
.avatar { margin-bottom: 10px; }

.quick-reply .submit { margin-bottom: 0; }
.quick-reply .decoda-editor { width: 100%; }

/*-------------------- Forms --------------------*/

.input { display: block; margin-bottom: 1.5rem; }
.input > label { display: inline-block; vertical-align: top; width: 25%; text-align: right; padding-top: 6px; margin-right: 1.5rem; }
.input:hover { border-color: #e5e5e5; }
.submit { text-align: center; margin: 1.5rem 0; }

input,
select,
textarea { padding: 5px; background: #fff; border: 1px solid #e5e5e5; border-radius: .3rem; }
input:hover,
select:hover,
textarea:hover { border-color: #c2c2c2; }
input:focus,
select:focus,
textarea:focus { border-color: #45c5eb; box-shadow: 0 0 5px #dbf1fa; outline: 0; }

.input input[type="text"] { width: 25%; }
.input textarea { min-width: 45%; }
.input .form-poll { display: inline-block; width: 45%; }
.input .form-poll table { margin-left: -6px; }
.input .form-poll input[type="text"] { width: 98%; }
.input .form-poll input[type="checkbox"] { position: relative; top: 2px; }

.input-help,
.error-message { display: block; margin: 5px 0 0 25%; padding-left: 1.5rem; }

.form-filters label { margin-right: 5px; }